@font-face {
  font-family: "Whitney";
  src: url("../fonts/Whitney-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("../fonts/Whitney-BookItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Whitney";
  src: url("../fonts/Whitney-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ibm-plex-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/IBM-Plex-Sans-Regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: "CommitMono";
  src: url("../fonts/CommitMono.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
