{{ partial "header.html" . }}

<h2>{{ .Title }}</h2>

{{ .Content }}

<main class="notes-container">
  {{ range .Pages }}
  <div class="notes">
    <div class="note">
      <div class="notes-list-title">
        <h2>
          <a href="{{ .Permalink }}" style="text-decoration: none"
            >{{ .Title }}</a
          >
        </h2>
      </div>
      {{ .Content }}
      <div class="note__footer">
        <a href="{{ .Permalink }}"> {{ .Date.Format "2006-01-02 15:04" }}</a>
        {{ with .Params.Tags }} · {{ $tags := . }} {{ range $index, $tag :=
        $tags }} {{ if $index }},{{ end }}
        <a href="/tags/{{ $tag | urlize }}">{{ $tag }}</a>
        {{ end }} {{ end }}
      </div>
    </div>
    <hr class="note__divider" />
  </div>
  {{ end }}
</main>

{{ partial "footer.html" . }}